[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
pythonnet = "==3.0.0a2"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
start = "nodemon --exec python src/main.py"
